body {
  background-color: #84A98C;
  background-size: cover;
  overflow-y: scroll;
  padding: 0;
  height: 100%;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.signbtn {
  background-color: #52796F;
  width: 100%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  left: ;
  text-align: right;
  position: fixed;
  top: 0;
  z-index: 40;
}

.myButton {
  box-shadow: 0px 0px 0px 0px #1c1b18;
  background-color: #eae0c2;
  border-radius: 42px;
  border: 0 solid #333029;
  display: inline-block;
  cursor: pointer;
  color: #080a03;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 10px;
  text-decoration: none;
}

.myButton:hover {
  background-color: #edece8;
}

.myButton:active {
  position: relative;
  top: 1px;
}

* {
  box-sizing: border-box;
}

.homebtn {
  height: 1.8rem;
  width: 2rem;
  position: relative;
  top: 2px;
  float: left;
}

#myTable {
  background-color: #C6EBC9;
  margin: auto;
  border-collapse: collapse;
  opacity: .8;
  width: 100%;
  overflow-y: scroll;
}

.tbldiv {
  overflow-y: scroll;
  height: 170px;
  padding: 0;
  border: 0;
  margin: auto;
  width: 45%;
}

.searchdiv {
  width: 45%;
  padding: 0;
  border: 0;
  margin: auto;
}

.searchdiv input[type=text] {
  font-size: 17px;
}

#myTable:hover {
  opacity: 1;
}

.thead {
  overflow-y: auto;
}

.tbldiv thead th {
  position: sticky;
  background-color: #4B6587;
  overflow-y: auto;
  top: 0;
  opacity: 1;
}

.row1 {
  background-color: #D4ECDD;
}

.row2 {
  background-color: #345B63;
  color: #F9F9F9;
}

.row1 a {
  background-color: #D4ECDD;
  text-decoration: none;
  color: black;
}

.row2 a {
  background-color: #345B63;
  color: #F9F9F9;
  text-decoration: none;
}

.footer {
  position: relative;
  width: 100%;
  background-color: #354F52;
  color: white;
  text-align: center;
  height: 3rem;
  margin: auto;
  left: 0;
  bottom: 0;
}

.blankdiv {
  height: 100px;
  width: 100px;
}

.blankdiv2 {
  height: 39px;
  width: 100%;
}

.footer a {
  color: #F9F9F9;
  text-decoration: none;
}

.Aboutus {
  background-color: #354F52;
  margin: auto;
  width: 45%;
  opacity: 0.75;
}

.Aboutus:hover {
  color: white;
  background-color: black;
  opacity: 1;
}

.about {
  background-color: #52796f;
  position: relative;
  color: white;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0;
  width: 50%;
  padding-top: 0.2rem;
}

.content {
  text-align: left;
  display: none;
  width: 45%;
  margin: auto;
  color: white;
  background-color: black;
}

.aboutproject {
  position: relative;
  text-align: left;
  width: 75%;
  padding: 0;
  padding-bottom: 1rem;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.form-inline {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.signin {
  background-color: #354F52;
  margin: auto;
  width: 45%;
  opacity: 0.75;
  color: white;
  padding: 0;
}

.signin:hover {
  color: white;
  background-color: black;
  opacity: 1;
}

.user {
  height: 100px;
  width: 100px;
  padding-right: 1%;
}

.userdiv {
  display: flex;
  align-items: left;
  justify-content: left;
  padding-left: 1rem;
  padding-top: 4rem;
}

.username {
  font-size: 20px;
  padding-left: 0;
}

.userimg {
  flex-basis: 7%;
  padding-right: 0;
}

.aboutusfooter {
  position: relative;
  padding-top: 1REM;
}

.searchdiv {
  width: 40%;
  padding-bottom: 0;
  margin-bottom: 0;
  z-index: 40;
}

.blankdiv2 {
  height: 10rem;
}

.color {
  margin: auto;
  position: relative;
  top: 1rem;
  text-align: center;
  position: relative;
  left: 43%;
}

.color2 {
  margin: auto;
  position: relative;
  top: 1rem;
  text-align: center;
  position: relative;
  left: ;
}

.tbl {
  width: 90%;
  margin: auto;
}

.tbl1 {
  width: 90%;
  margin: 0;
  background-color: white;
  text-align: center;
}

form, .select__button, .select__options {
  width: 100%;
  background-color: #52796F;
}

form {
  margin: auto;
  padding: 3em 1.5em 6em 1.5em;
  max-width: 100%;
  text-align: left;
}

label {
  display: block;
  font-weight: bold;
}

.select, .select__button {
  position: relative;
  color: black;
}

.select {
  margin-bottom: 1.5em;
  perspective: 20em;
}

.select select {
  display: none;
}

.select__button, .select__option {
  background: #f1f1f1;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.375em;
}

.select__button {
  animation-duration: var(--foldDur);
  animation-timing-function: ease-in-out;
  animation-direction: reverse;
  border-radius: 0;
  box-shadow:
    -0.05em 0 0 #fff inset,
    0.05em 0 0 #ccc inset,
    0 -0.05em 0 #d9d9d9 inset;
  transform-origin: 50% 100%;
  -webkit-appearance: none;
  appearance: none;
  z-index: 1;
}

.select__button:focus, .select__option:focus {
  outline: transparent;
}

.select__button:focus {
  color: #ff3f3f;
}

.select__button:after, .select__option:first-child:after {
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  content: "";
  display: block;
  width: 0;
  height: 0;
}

.select__button:after {
  border-top: 0.25em solid;
}

.select__button--pristine {
  animation: none;
}

.select__options {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: visibility 0s var(--foldDur) steps(1);
}

.select__option {
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #ccc inset,
    -0.05em 0.1em 0.2em 0 #fff inset,
    -0.05em 0 0 #fff inset;
  color: black;
  opacity: 0;
  text-decoration: none;
  transition: opacity 0s var(--foldDur) steps(1);
}

.select__option:first-child {
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #ccc inset,
    -0.05em 0 0 #fff inset;
}

.select__option:first-child:after {
  border-bottom: 0.25em solid;
}

.select__option:hover, .select__option:focus {
  background: #ff7c7c;
  box-shadow:
    -0.05em -0.1em 0.2em 0 #0001 inset,
    0.05em 0 0 #a9bbe5 inset,
    -0.05em 0 0 #c1d4ff inset;
}

.select__option[aria-selected="true"]:not(:first-child):after {
  content: "\2713";
}

/* Animation */
.select__button[aria-expanded="true"] {
  animation-direction: normal;
  animation-fill-mode: forwards;
  box-shadow:
    -0.05em -0.1em 0.2em 0 #fff inset,
    -0.05em 0 0 #fff inset;
  cursor: default;
  pointer-events: none;
}

.select__button--fold4 {
  animation-name: fold4;
}

.select__button--fold5 {
  animation-name: fold5;
}

.select__button[aria-expanded="true"]+.select__options,
.select__button[aria-expanded="true"]+.select__options .select__option {
  transition-delay: 0s;
}

.select__button--fold4[aria-expanded="true"]+.select__options,
.select__button--fold5[aria-expanded="true"]+.select__options {
  visibility: visible;
}

.select__button--fold4[aria-expanded="true"]+.select__options .select__option,
.select__button--fold5[aria-expanded="true"]+.select__options .select__option {
  opacity: 1;
}

.select__button--fold4+.select__options .select__option:nth-child(4),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(2) {
  transition-delay: calc(var(--foldDur) * 0.25);
}

.select__button--fold4+.select__options .select__option:nth-child(3),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(3) {
  transition-delay: calc(var(--foldDur) * 0.5);
}

.select__button--fold4+.select__options .select__option:nth-child(2),
.select__button--fold4[aria-expanded="true"]+.select__options .select__option:nth-child(4) {
  transition-delay: calc(var(--foldDur) * 0.75);
}

.select__button--fold5+.select__options .select__option:nth-child(5),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(2) {
  transition-delay: calc(var(--foldDur) * 0.2);
}

.select__button--fold5+.select__options .select__option:nth-child(4),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(3) {
  transition-delay: calc(var(--foldDur) * 0.4);
}

.select__button--fold5+.select__options .select__option:nth-child(3),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(4) {
  transition-delay: calc(var(--foldDur) * 0.6);
}

.select__button--fold5+.select__options .select__option:nth-child(2),
.select__button--fold5[aria-expanded="true"]+.select__options .select__option:nth-child(5) {
  transition-delay: calc(var(--foldDur) * 0.8);
}

@keyframes appear {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes fold4 {
  from {
    color: #171717;
    transform: translateY(0) rotateX(0deg)
  }

  12.5% {
    color: #171717;
    transform: translateY(0) rotateX(-90deg)
  }

  12.51% {
    color: transparent;
    transform: translateY(0) rotateX(-90deg)
  }

  25% {
    color: transparent;
    transform: translateY(0) rotateX(-180deg)
  }

  25.01% {
    color: transparent;
    transform: translateY(100%) rotateX(0deg)
  }

  50% {
    color: transparent;
    transform: translateY(100%) rotateX(-180deg)
  }

  50.01% {
    color: transparent;
    transform: translateY(200%) rotateX(0deg)
  }

  75% {
    color: transparent;
    transform: translateY(200%) rotateX(-180deg)
  }

  75.01% {
    color: transparent;
    transform: translateY(300%) rotateX(0deg)
  }

  to {
    color: transparent;
    transform: translateY(300%) rotateX(-100deg)
  }
}

@keyframes fold5 {
  from {
    color: #171717;
    transform: translateY(0) rotateX(0deg)
  }

  10% {
    color: #171717;
    transform: translateY(0) rotateX(-90deg)
  }

  10.01% {
    color: transparent;
    transform: translateY(0) rotateX(-90deg)
  }

  20% {
    color: transparent;
    transform: translateY(0) rotateX(-180deg)
  }

  20.01% {
    color: transparent;
    transform: translateY(100%) rotateX(0deg)
  }

  40% {
    color: transparent;
    transform: translateY(100%) rotateX(-180deg)
  }

  40.01% {
    color: transparent;
    transform: translateY(200%) rotateX(0deg)
  }

  60% {
    color: transparent;
    transform: translateY(200%) rotateX(-180deg)
  }

  60.01% {
    color: transparent;
    transform: translateY(300%) rotateX(0deg)
  }

  80% {
    color: transparent;
    transform: translateY(300%) rotateX(-180deg)
  }

  80.01% {
    color: transparent;
    transform: translateY(400%) rotateX(0deg)
  }

  to {
    color: transparent;
    transform: translateY(400%) rotateX(-100deg)
  }
}

.cmntsec {
  width: 40%;
  margin: auto;
  text-align: left;
  background-color: #354F52;
}

.comment {
  background-color: inherit;
  margin: auto;
  text-align: center;
}

#flower {
  width: 100%;
}

#flower2 {
  width: 100%;
}

.result1 {
  background-color: inherit;
  text-align: center;
}
